html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}


body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    background: #EFEFEF;

    
}

.header {
    background-color: rgb(31, 30, 31);

}

.container {
    width: 1300px;
    margin: 0 auto;

}

.header .container {
    height: 60px;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 50px;
    color: rgba(255, 255, 255, .8);
}

.header .menu ul li a {
    color: rgba(255, 255, 255, .8);
    height: 60px;
    display: flex;
    align-items: center;
}

.header .menu ul li a i {
    margin-right: 15px;
}

.header .menu ul li a:hover {
    color: #fff;
}


/* BANNER SECTION */

.banner {
    min-height: 50vh;
    background: linear-gradient(-45deg, #6e6e6e, rgb(43, 43, 43), #1b1b1b, #0f0f0f);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner .container {
    min-height: 50vh;
    display: flex;
    padding: 70px 0;
    box-sizing: border-box;
    align-items: center;
}

.banner .container .banner-box {
    width: 50%;
    box-sizing: border-box;
}

.banner .container .banner-box img {
    max-width: 100%;

}

.banner .container .banner-box .banner-image {
    padding-left: 150px;
}

.banner .container .banner-box h1 {
    font-size: 48px;
    color: #fff;
    line-height: 56px;
}

.banner .container .banner-box h2 {
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
}

/* SECTION ONE */

.section1 {
    display: flex;
}

.section1 .lang {
    display: flex;
    width: 392px;
    min-width: 392px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section1 .lang a {
    width: 184px;
    height: 184px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1);
    transition: 200ms all;
}

.section1 .lang a:hover {
    transform: scale(1.05);
}

.section1 .lang a img {
    margin-bottom: 20px;
    height: 40px;
}

.section1 .lang a .title {
    font-size: 18px;
    color: #111;
}

.section1 .inner {
    padding-left: 160px;
}

.section1 .inner h3 {
    font-size: 36px;
    color: #111;
    margin-bottom: 30px;
}

.section1 .inner p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 28px;
}